<p class="content-nav"><%= link_to 'Show', @volunteer %> | <%= link_to 'Back', volunteers_path %> </p>
<h1>Edit: <%= @volunteer.given_names + ' ' + @volunteer.surname %></h1>

<div class="column-1">
  <%= link_to(image_tag(gravatar_url_for(@volunteer.email), { :width => 150, :height => 150, :alt => 'Gravatar Picture of Volunteer'}),'http://en.gravatar.com/emails')%>
  <p><a href='http://en.gravatar.com/email'>Change your Gravatar</a></p>
</div>

<div class="column-2">
  <%= render :partial => 'form' %>
</div>