<h1>Listing volunteers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Skype name</th>
    <th>Mobile</th>
	<th>Home</th>
    <th>Region</th>
    <th>Paid?</th>
  </tr>

<% @volunteers.each do |volunteer| %>
  <tr>
    <td><%= link_to volunteer.preffered_name + ' ' + volunteer.surname, volunteer %></td>
    <td><a href="mailto:<%=h volunteer.email %>"><%=h volunteer.email %></a></td>
    <td><%=h volunteer.skype_name %></td>
    <td><%=h volunteer.mobile %></td>
    <td><%=h volunteer.home_phone %></td>
    <td><%=h volunteer.region %></td>
    <td><%=h volunteer.paid %></td>
	<td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New volunteer', new_volunteer_path %>