<h1>Listing volunteers</h1>

<table>
  <tr>
    <th>Pic</th>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile</th>
	<th>Home</th>
    <th>Region</th>
    <th>Paid?</th>
  </tr>

<% @volunteers.each do |volunteer| %>
  <tr>
    <td><%= image_tag(gravatar_url_for(volunteer.email), { :width => 40, :height => 40 , :alt => 'Pic'}) %> </td>
    <td>
	  <%= link_to volunteer.preffered_name + ' ' + volunteer.surname, volunteer %> 
	  <% if not volunteer.skype_name.blank? %>
		<%= link_to (image_tag 'skype_tiny.png', :alt => 'skypeMe') , 'skype:' + volunteer.skype_name %>
	  <% end %>
	</td>
    <td><a href="mailto:<%=h volunteer.email %>"><%=h volunteer.email %></a></td>
    <td><%=h volunteer.mobile %></td>
    <td><%=h volunteer.home_phone %></td>
    <td><%=h volunteer.region %></td>
    <td><%=h volunteer.paid %></td>
	<td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New volunteer', new_volunteer_path %>