<p class="content-nav">
  <%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
  <%= link_to 'Destroy', volunteer_path(@volunteer), :confirm => 'Are you sure you want to DELETE volunteer record for ' + @volunteer.given_names + '?', :method => :delete %> |
  <%= link_to 'Back', volunteers_path %>
</p>

<h2><%=h @name %></h2>

<div class="column-1">
  <p><%= image_tag(gravatar_url_for(@volunteer.email), { :width => 150, :height => 150, :alt => 'Gravatar Picture of Volunteer' }) %></p>
  <br />
</div>

<div class="column-2">

<table>

<tr>
  <td>Given names:</td>
  <td><%=h @volunteer.given_names %></td>
</tr>

<tr>
  <td>Surname:</td>
  <td><%=h @volunteer.surname %></td>
</tr>

<tr>
  <td>Preffered name:</td>
  <td><%=h @volunteer.preffered_name %></td>
</tr>

<tr>
  <td>Birth date:</td>
  <td><%=h @volunteer.birth_date %></td>
</tr>

<tr>
  <td>Email:</td>
  <td><a href="mailto:<%=h @volunteer.email %>"><%=h @volunteer.email %></a></td>
</tr>

<tr>
  <td>Skype name:</td>
  <td>
    <%= link_to @volunteer.skype_name , 'skype:' + @volunteer.skype_name %>
    <%= link_to (image_tag 'skype_tiny.png', :alt => 'skypeMe') , 'skype:' + @volunteer.skype_name %>
  </td>
</tr>

<tr>
  <td>Mobile:</td>
  <td><%=h @volunteer.mobile %></td>
</tr>

<tr>
  <td>Home phone:</td>
  <td><%=h @volunteer.home_phone %></td>
</tr>

<tr>
  <td>Work phone:</td>
  <td><%=h @volunteer.work_phone %></td>
</tr>

<tr>
  <td>Business name:</td>
  <td><%=h @volunteer.business_name %></td>
</tr>

<tr>
  <td>Processed by:</td>
  <td><%=h @volunteer.processed_by %></td>
</tr>

<tr>
  <td>Entered by:</td>
  <td><%=h @volunteer.entered_by %></td>
</tr>

<tr>
  <td>Region:</td>
  <td><%=h @volunteer.region %></td>
</tr>

<tr>
  <td>Paid:</td>
  <td><%=h @volunteer.paid %></td>
</tr>

<tr>
  <td>Payment method:</td>
  <td><%=h @volunteer.payment_method %></td>
</tr>

<tr>
  <td>Payment notes:</td>
  <td><%=h @volunteer.payment_notes %></td>
</tr>

<tr>
  <td>Personal skills:</td>
  <td><%=h @volunteer.personal_skills %></td>
</tr>

</table>

</div>