<% form_for(@product_type) do |f| %>
  <%= f.error_messages %>
<table>
  <tr>
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  
  <tr>
    <td><%= f.label :first_production %></td>
    <td><%= f.date_select :first_production , :start_year=>2004 , :end_year=>Time.now.year %></td>
  </tr>
  
  <tr>
    <td></td>
	<td><%= f.submit 'Update' %></td>
  </tr>
</table>
<% end %>