<h1>Editing product_type</h1>

<% form_for(@product_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :first_production %><br />
    <%= f.date_select :first_production %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @product_type %> |
<%= link_to 'Back', product_types_path %>