<p class="content-nav"><%= link_to 'Show', @product_type %> | <%= link_to 'Destroy', @product_type, :confirm => 'Are you sure?', :method => :delete %> | <%= link_to 'Back', product_types_path %> </p>

<h1>Edit: <%= @product_type.name %></h1>

<div class="column-1">
  <%= render :partial => 'form' %>
</div>