<p class="content-nav">
  <%= link_to 'Show', @channel %> | 
  <%= link_to 'Destroy', @channel, :confirm => 'Are you sure?', :method => :delete %> | 
  <%= link_to 'Back', channels_path %> 
</p>

<h1>Edit: <%= @channel.name %></h1>

<div class="column-1">
  <%= render :partial => 'form' %>
</div>