<p class="content-nav">
  <%= link_to 'Show', @user %> | 
  <%= link_to 'Destroy', @user, :confirm => 'Are you sure?', :method => :delete %> | 
  <%= link_to 'Back', users_path %> 
</p>

<h1>Edit: <%= @user.username %></h1>

<div class="column-1">
  <%= render :partial => 'form' %>
</div>