<p class="content-nav"><%= link_to 'Show', @location %> | <%= link_to 'Destroy', @product, :confirm => 'Are you sure?', :method => :delete %> | <%= link_to 'Back', products_path %> </p>
<h1>Edit: <%= @product.name %></h1>

<div class="column-1">
  <%= render :partial => 'form' %>
</div>