<h1>Listing Locations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Channel</th>
    <th>State</th>
    <th>Primary contact</th>
    <th>Position</th>
    <th>Contact number</th>
    <th>Website</th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= link_to location.name, location %></td>
    <td><%=h location.channel.name %></td>
    <td><%=h location.state.name %></td>
    <td><%=h location.primary_contact %></td>
    <td><%=h location.position %></td>
    <td><%=h location.contact_number %></td>
    <td><%=h location.website %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
  </tr>
</table>
<% end %>

<br />

<%= link_to 'New Location', new_location_path %>
